.drawing-grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, 5), max-content);
  grid-template-rows: repeat(var(--columns, 5), max-content);
}

.drawing-cell {
  width: var(--size-fluid-6);
  height: var(--size-fluid-6);

  border: 2px solid var(--gray-4);
}

.drawing-cell--grey {
  background: var(--gray-7);
}

.drawing-cell--black {
  background: black;
}

.drawing-cell--red {
  background: var(--red-7);
}

.drawing-cell--green {
  background: var(--green-7);
}

.drawing-cell--white {
  background: var(--white-7);
}